section.home {
  height: 100vh;
  background-image: url('../upload/Wallpaper1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}


.carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slide {
  width: 500px;
  height: 300px;
  display: none;
  position: absolute;
}












section.comment {

  background-image: url('../upload/Wallpaper2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}



.line-comment {
  padding-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card-comment{
  /* border: 1px gray solid; */

 width: 20%;
 height: 100px;
 background-color: #edda6a;
 opacity: 0.7;

}

.line-comment .card-comment:nth-child(even)
{
  margin: 150px 20% 0 10% ;
  border: red 2px solid;


}

.line-comment .card-comment:nth-child(odd)
{
  margin: 0 10% 150px 20%;


}


.form-group {
 
  height: 100px;
  background-color: #ccc;
  opacity: 0.7;

}














.footer {
  background-color: #000000;
  padding: 5px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
}

.footer img {
  width: 50px;
  margin-left: 10px;
  margin-right: 0px;
  float: right;
}

a {
  color: #ffffff;
  text-decoration: none;
}