section.DevenirVIP {
        height: 100%;
        background-image: url('../upload/1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;     
}

h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    color: brown; 
    text-align: center;  
}
.container {
  display: flex;
}

.block {
  width: 33.33%;
}